.button{
    border:none;
    background:none;
    font-size:17px;
    padding:7px 14px;
    border-radius:5px;
    cursor:pointer;
    transition: 0.15s;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.button:disabled{
    cursor:not-allowed;
}

.link , .anchor{
    font-size:18px;
    padding:7px 14px;
    border-radius:5px;
    text-decoration:none;
    transition: 0.15s;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}